{% extends "layout.html" %}
{% block body %}
  {% if logged_in %}

    {% if videos != null %}
        {{videos}}
       <table border = 1>
             {% for video in videos[1] %}
             
                <tr>
                   
                   <th> {{ video['contentDetails']['videoPublishedAt'] }} </th>
                   <td> {{ video['snippet']['title'] }} </td>
                </tr>
                
             {% endfor %}
          </table>
    {% else %}
        <b><h1>There are no liked videos.</h1></b>
    {% endif %}
  {% endif %}
  
{% endblock %}