{% extends "layout.html" %}
{% block body %}
  {% if logged_in %}

    {% if videos %}
        
        
       <table id="videos">
                <tr>
                    <th>Select/Unselect <input type="checkbox" id="SelectAll" value="SelectAll" onclick="select_all()"></th>                
                    <th> Date Video Liked </th>
                    <th> Video Title </th>
                    <th> Video Duration </th>
                </tr>
                {% for key,value in videos.items() %}
                
                    <tr>
                        <td><input type="checkbox" name="video" value="{{key}}"" onclick="list_edit(this,this.value)"></td>   
                        <td>{{key}}</td> 

                        <td>{{value[0]}}</td>
                        <td>{{value[1]}}</td>
                                       
                    </tr>
                
             {% endfor %}
        </table>
    {% else %}
        <b><h1>There are no liked videos.</h1></b>
    {% endif %}
  {% endif %}
  
{% endblock %}