#videos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#videos td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#videos tr:nth-child(even){background-color: #f2f2f2;}

#videos tr:hover {background-color: #ddd;}

#videos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

